<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925221392775-0l28ri1tars46s7hvfk48gv2o79eof0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925221392775-0l28ri1tars46s7hvfk48gv2o79eof0b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>925221392775-58i460v3ohvqov8ndb7oft6asr5jt1g1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtjteUD3nyDM3hu81s57kJOTlkZKauhxI</string>
	<key>GCM_SENDER_ID</key>
	<string>925221392775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanadquran.sanad.stg</string>
	<key>PROJECT_ID</key>
	<string>sanad-quran-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>sanad-quran-stage.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925221392775:ios:7b4c875ccdc2da9de24322</string>
</dict>
</plist>