<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:sanad-api-dev.sociumtech.com?mode=developer</string>
		<string>applinks:sanad-api-dev.sociumtech.com?mode=developer</string>
		<string>webcredentials:sanad-revamp-staging.sociumtech.com?mode=developer</string>
		<string>applinks:sanad-revamp-staging.sociumtech.com?mode=developer</string>
		<string>webcredentials:api.sanadquran.com</string>
		<string>applinks:api.sanadquran.com</string>
	</array>
	<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
	<true/>
</dict>
</plist>
