<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBv2HvySOcYCRlctnntQDTYncXyl1llx3I</string>
	<key>GCM_SENDER_ID</key>
	<string>626069124894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanadquran.sanad.dev</string>
	<key>PROJECT_ID</key>
	<string>sanad-quran-dev-c5b7c</string>
	<key>STORAGE_BUCKET</key>
	<string>sanad-quran-dev-c5b7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626069124894:ios:4c3d677767356db1533b0f</string>
</dict>
</plist>